@import url(./_add-place/popup__close_add-place.css);
@import url(./_change-profile/popup__close_change-profile.css);

.popup__close {
  width: 26px;
  height: 26px;
  position: absolute;
  top: -26px;
  right: -26px;
  cursor: pointer;
  background-image: url('../../../images/close.svg');
  background-size: contain;

}
