.user-info__edit {
    width: 38px;
    height: 18px;
    margin: 24px 0px 0px 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    border: 1px solid #FFFFFF;
    text-align: center;
}

.user-info__edit:hover {
    background-color: #FFFFFF;
    border: 1px solid white;
    color: #000;
}

@media screen and (max-width: 980px) {
    .user-info__edit {
        margin: 24px auto auto auto;
    }
}